<VirtualHost *:{{ https_port }}>
     ServerAdmin {{ email }}
     DocumentRoot {{ ost_root_path }}/upload
     ServerName {{ sitio }}
     ServerAlias www.{{ sitio }}

     <Directory {{ ost_root_path }}>
          Options FollowSymlinks
          AllowOverride All
          Require all granted
     </Directory>

     ErrorLog ${APACHE_LOG_DIR}/osticket_error.log
     CustomLog ${APACHE_LOG_DIR}/osticket_access.log combined

     SSLEngine on
     SSLCertificateFile /etc/ssl/certs/{{ sitio }}.crt
     SSLCertificateKeyFile /etc/ssl/private/{{ sitio }}.key
</VirtualHost>
