<VirtualHost *:{{ https_port }}>
     ServerAdmin {{ email }}
     DocumentRoot /var/www/osTicket/upload
     ServerName {{ sitio }}
     ServerAlias www.{{ sitio }}

     <Directory /var/www/osTicket/>
          Options FollowSymlinks
          AllowOverride All
          Require all granted
     </Directory>

     ErrorLog ${APACHE_LOG_DIR}/osticket_error.log
     CustomLog ${APACHE_LOG_DIR}/osticket_access.log combined

     SSLEngine on
     SSLCertificateFile /etc/ssl/certs/{{ sitio }}.crt
     SSLCertificateKeyFile /etc/ssl/private/{{ sitio }}.key
</VirtualHost>
